*{
    margin: 0%;
    padding: 0px;
    box-sizing:border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    width: 100%;
    position:fixed;
    font-family: sans-serif;
    padding: 30px 0;
    /*background:rgb(207, 55, 55);*/
}
.navbar .logo a{
    color:lightyellow;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:rgb(207, 55, 55);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    padding-right:10px;
}
<!-----------------------------------------About section--------------------------------------------------------->
section{
    padding: 20px 0;
}
.about{
    font-family:'poppins', sans-serif;
}
.about .title{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu',sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    width: 180px;
    bottom: 0px;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.about .about-content{
    display:flex;
   /* font-family: cursive,sans-serif;*/
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width:70%;
}
.about .about-content .right p{
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.about .about-content .right .text1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text1 span{
    color: crimson;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    padding-left: 70px;

}

.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
<!------------------------------------- Skills section----------------------------------------------------------->
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .title{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px 25px;
    font-family: 'ubuntu',sans-serif;
}
.skills .title::before{
    content: "";
    position: absolute;
    width: 180px;
    bottom: 0px;
    left: 50%;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.skills .skills-content{
    display:flex;
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}
.skills .skills-content .right .bar{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-size: 18px;
    font-weight: 500;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position:relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position:absolute;
    height:100%;
    width: 80%;
    left:0;
    top:0;
    background:crimson;

}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 70%;
}
.skills .skills-content .right .js::before{
    width: 50%;
}
.skills .skills-content .right .python::before{
    width: 80%;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
<!-------------------------------------Service section------------------------------------------------------------->
.service{
    color: #fff;
    background: #111;
}
.service .title::before{
    background: #111;
}
.service .service-content .card{
    width: calc(33% -20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 80px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.service .service-content .card .Box{
    transition: all 0.3s ease;
}
.service .service-content .card:hover{
    background:crimson;
    border: 10px solid white;
}
.service .service-content .card :hover .Box{
    transform: scale(1.05);
}

.service .service-content .card i{
    font-size: 50px;
    color: crimson;
}
.service .service-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}
.service .title{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px 25px;
    font-family: 'ubuntu',sans-serif;
}
.service .title::before{
    content: "";
    position: absolute;
    width: 180px;
    bottom: 0px;
    left: 50%;
    height: 3px;
    /*background: #111;*/
    transform: translateX(-50%);
}
.service .service-content{
    display:flex;
   font-family: cursive,sans-serif;
    align-items: center;
    justify-content: space-between;
}
<!---------------------------------------------- contact section---------------------------------------------->
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;
 }
 .contact{
     position: relative;
     min-height: 100vh;
     padding: 50px 100px;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: rgb(85, 10, 25);
     /*background-image: url("../contact.jpg");*/
     background-size: cover;
 }
 .contact .content{
     max-width: 800px;
     text-align: center;
 }
 .contact .content h2{
     content: "";
     font-size: 36px;
     font-weight:500;
     color:#fff;
 }
 .contact .content p{
     font-weight: 300;
     color:#fff;
 }
 .container{
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
 }
 .container .contactInfo{
      width:50%;
      display:flex;
      flex-direction: column;
 }
 .container .contactInfo .box{
     position: relative;
     padding: 20px 0;
     display: flex;
 }
 .container .contactInfo .box .icon{
     min-width: 60px;
     height: 60px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     font-size: 22px;
 }
 .container .contactInfo .box .text{
     display: flex;
     margin-left: 20px;
     font-size: 16px;
     color:#fff;
     flex-direction: column;
     font-weight: 300;
 }
 
 .container .contactInfo .box .text h3{
     font-weight: 500;
     color: #00bcd4;
 }
 .contactForm{
       width: 40%;
       padding: 40px;
       background: #fff;
 }
 .contactForm h2{
     font-size: 30px;
     color: #333;
     font-weight: 500;
 }
 .contactForm .inputBox{
     position: relative;
     margin-top: 10px;
     width: 100%;
 }
 .contactForm .inputBox input,
 .contactForm .inputBox textarea{
     width: 100%;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     border: none;
     border-bottom: 2px solid #333;
     outline: none;
     resize: none;
 
 }
 .contactForm .inputBox span{
     position: absolute;
     left: 0;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     pointer-events: none;
     transition: 0.5s;
     color: #666;
 }
 
 .contactForm .inputBox  input:focus ~ span,
 .contactForm .inputBox  input:valid ~ span,
 .contactForm .inputBox  textarea:focus ~ span,
 .contactForm .inputBox  textarea:valid ~ span
 {
     color:#e91e63;
     font-size: 12px;
     transform:translateY(-20px);
 
 }
 
 .contactForm .inputBox  input[type="submit"]
 {
     width: 100px;
     background: #00bcd4;
     color: #fff;
     border:none;
     cursor: pointer;
     padding: 10px;
     font-size: 18px;
 }
 @media (max-width:991px)
 {
     .contact{
          padding: 50px;
 }
 .container{
     flex-direction: column;
 }
  .container .contactInfo {
      margin-bottom: 40px;
  }
  .container .contactInfo{
      width:100%;
    }
 }
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
}
.navbar .menu li a:hover{
    color:rgb(207, 55, 55);
}
.home{
    display: flex;
    text-align: center;
    background: url("../img1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 20px;

}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content{
    text-align: center;
    padding-top:200px;
    padding-left:150px;
    padding-right:150px;
    padding-bottom: 150px;
    color: #fff;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
}
.home .home-content a:hover{
    color:crimson;
    background: none;
}
.home .home-content .text-1{
    font-size: 27px;

}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;

}
.home .home-content .text-3{
    font-size: 40px;

}
.home .home-content .text-3 span{
    color:rgb(207, 55, 55);
    font-weight: 500;
}
@media(max-width:1104px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}


